.nav-container{
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #c5c5c52a;
  border: 1px solid rgba(31, 29, 29, 0.651);
  z-index: 3;
  transition: .3s all ease-in-out;
  &.white{
    background-color: #fff;
    box-shadow: 0 10px 10px rgb(0 0 0 / 2%);
  }
  &.hide{
    display: none;
  }
  .header__nav{
    position: absolute;
    top: -130vh;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 120vh;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    align-items: center;
    transition: .3s all ease-in-out;
    opacity: 1;
    padding-top: 100px;
    li{
      cursor: pointer;
      font-weight: 300;
      color: #1d1c1cd0;
      padding: 15px 25px;
      font-size: 18px;
      font-family: $font1;
      font-weight: 700;
    }
    &.open{
      z-index: 3;
      top: -15px;
      opacity: 1;
    }
  }
}

// ------------------------------------------//
// -------------Responsive-------------------//
//-------------------------------------------//

@media screen and (min-width: 650px){
  .nav-container{
    width: auto;
    .header__nav{
      position: static;
      transform: translateX(0%);
      flex-direction: row;
      justify-content: center;
      gap: 0;
      padding: 0;
      background-color: transparent;
      height: auto;
      width: auto;
      div{
      position: relative;
      li{
        cursor: pointer;
        font-size: 12px;
        &:hover{
          background-color: #1d1c1c7c;
        }
      }
    }
    }
  }
  .burger-menu{
    display: none;
  }
}