@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&family=Raleway:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Londrina+Solid:wght@300;400;900&family=Noto+Serif+Armenian:wght@300;400;700&display=swap');



$font1: 'Poppins', sans-serif;
$font2: 'Raleway', sans-serif;
$font3: 'Roboto Slab', serif;
$font4: 'Open Sans', sans-serif;
$font6: 'Alatsi', sans-serif;
$font10: 'Londrina Solid', cursive;
$font11: 'Noto Serif Armenian', serif;