@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&family=Raleway:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Alatsi&family=Alfa+Slab+One&family=Gentium+Book+Basic:wght@400;700&family=Krona+One&family=Londrina+Solid:wght@300;400;900&family=Noto+Serif+Armenian:wght@300;400;700&family=Rammetto+One&family=Rock+Salt&family=Zen+Loop&display=swap');



$font1: 'Poppins', sans-serif;
$font2: 'Raleway', sans-serif;
$font3: 'Roboto Slab', serif;
$font4: 'Open Sans', sans-serif;
$font5: 'Acme', sans-serif;
$font6: 'Alatsi', sans-serif;
$font7: 'Alfa Slab One', cursive;
$font8: 'Gentium Book Basic', serif;
$font9: 'Krona One', sans-serif;
$font10: 'Londrina Solid', cursive;
$font11: 'Noto Serif Armenian', serif;
$font12: 'Rammetto One', cursive;