// ----------------------------------
// -----------Boutons----------------
// ----------------------------------
.header__btns{
  position: relative;
  z-index: 3;
  display: flex;
  gap: 70px;
  align-items: center;
  font-family: $font3;
  font-weight: 500;
  @media screen and (max-width:1100px){
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}
// -----------Bouton Github----------------
.btn{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: inline-block;
  font-weight: 500;
  transition: .05s all ease-in-out;
  position: relative;
  overflow: hidden;
  border-radius: 40px;
  font-size: 18px;
  letter-spacing: 1px;
  span{
    position: relative;
    z-index: 2;
  }
  &::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #FF4655;
    transition: all .4s;
    z-index: 1;
    border-radius: 40px;
  }
  &:hover{
    color: #fff;
  }
  &:hover::after{
    width: 100%;
  }
}

.header .btn{
  color: #fff;
  border: 3px dashed #1D9E62;
  font-size: 22px;
  padding: 20px 36px;
  &::after{
    background-color: #1D9E62;
  }
  @media screen and (max-width:1100px){
    font-size: 14px;
    padding: 20px 35px;
  }
}
// -----------Bouton Discover----------------
.disco-container{
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  // cursor: pointer;
  
  i{
    color: #fff;
    font-size: 30px;
    background-color: #282936;
    padding: 20px 22px;
    border-radius: 50%;
    transition: .25s all ease;
    border: 2px solid #282936;
    @media screen and (max-width:1100px){
      font-size: 20px;
      padding: 20px 23px;
    }
  }
  span{
    border: 4px solid #282936;
    border-radius: 40px;
    padding: 20px 36px;
    color: #fff;
    background-color: #282936;
    font-size: 22px;
    @media screen and (max-width:1100px){
      font-size: 14px;
      padding: 20px 35px;
    }
  }
  &:hover{
    span{
      background-color: transparent;
    }
    i{
      position: relative;
      transform: rotate(90deg);
      // animation: 1s createBox .5s infinite linear;
      animation: bouncearrow 1s infinite linear .25s;
    }
  }
}
// ----------------------------------
// ---------Boutons Contact----------
// ----------------------------------
.contact .btn{
  padding: 25px 45px;
}
// ----------------------------------
// ---------Boutons Projets----------
// ----------------------------------

/* CSS */
// .project__btn {
//   background-color: #FF4655;
//   border: 0 solid #E5E7EB;
//   box-sizing: border-box;
//   color: #eceaea;
//   display: flex;
//   font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
//   font-size: 1rem;
//   justify-content: center;
//   line-height: 1.75rem;
//   padding: .75rem 1.65rem;
//   position: relative;
//   text-align: center;
//   text-decoration: none #000000 solid;
//   text-decoration-thickness: auto;
//   width: 100%;
//   max-width: 460px;
//   position: relative;
//   cursor: pointer;
//   transform: rotate(-2deg);
//   user-select: none;
//   -webkit-user-select: none;
//   touch-action: manipulation;
// }

// .project__btn:focus {
//   outline: 0;
// }

// .project__btn:after {
//   content: '';
//   position: absolute;
//   border: 1px solid #fdfdfd;
//   bottom: 6px;
//   left: 6px;
//   width: calc(100% - 1px);
//   height: calc(100% - 1px);
//   transition: .2s all ease;

// }

// .project__btn:hover:after {
//   bottom: 2px;
//   left: 2px;
// }

// @media (min-width: 768px) {
//   .project__btn {
//     padding: .75rem 3rem;
//     font-size: 1.25rem;
//   }
// }

/* CSS */
// .project__btn {
//   // align-items: center;
//   background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
//   border: 0;
//   border-radius: 8px;
//   box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
//   box-sizing: border-box;
//   color: #FFFFFF;
//   display: flex;
//   font-family: $font4;
//   font-weight: 700;
//   font-size: 9px;
//   justify-content: center;
//   line-height: 1em;
//   max-width: 100%;
//   min-width: 30px;
//   padding: 3px;
//   text-decoration: none;
//   user-select: none;
//   -webkit-user-select: none;
//   touch-action: manipulation;
//   white-space: nowrap;
//   cursor: pointer;
// }

// .project__btn:active,
// .project__btn:hover {
//   outline: 0;
// }

// .project__btn span {
//   background-color: rgb(5, 6, 45);
//   padding: 10px 10px;
//   border-radius: 6px;
//   width: 100%;
//   height: 100%;
//   transition: 300ms;
// }

// .project__btn:hover span {
//   background: none;
// }

// @media (min-width: 768px) {
//   .project__btn {
//     font-size: 16px;
//     min-width: 120px;
//     span{
//       padding: 16px 24px;
//     }
//   }
// }
.project__btns{
  display: flex;
  align-items: center;
  gap: 20px;
  @media screen and (max-width:1150px){
    flex-direction: column;
  }

  .project__btn{
    position: relative;
    font-size: 16px;
    font-family: $font2;
    font-weight: 500;
    letter-spacing: 1.5px;
    border: 1px solid #FF4655;
    border-radius: 10px;
    transition: .2s all ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    // cursor: pointer;
    overflow: hidden;
    padding: 16px 26px;
    &:hover{
      background-color: #FF4655;
      color: #ECE8E1;
    }
    @media screen and (max-width:600px){
      font-size: 9px;
      padding: 10px 10px;
    }
    
  }
}

