.contact{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 0px 10px;
  h2{
    padding: 50px;
  }
}
small{
  align-self: center;
  margin-bottom: 50px;
  margin-top: auto;
  padding-top: 100px;
}
.contact__container{
  align-self: center;
  background-color: white;
  margin-top: 80px;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-shadow: rgb(9 30 66 / 25%) 0px 4px 8px -2px, rgb(9 30 66 / 8%) 0px 0px 0px 1px;
  font-size: 22px;
  font-family: $font2;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  a{
    margin-top: 50px;
    font-size: 22px;
  }
  strong{
    color: #FF4655;
  }
  @media screen and (max-width:650px){
    padding: 30px;
    margin-top: 50px;
  }

}